/* *{
    display: inline-block;
    margin: 0;
    padding: 0;
} */

h1{
    text-align: center;
}
h3{
    background-color: antiquewhite;
}

.main-div {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%; 
    margin-top: 25vh;
    justify-content: center;
    align-items: center;
    border: 3px solid green;

}
.sign{
    position: absolute;
    margin-top: -0.009rem;
    margin-left: 1rem;
    cursor: pointer;
}